body{
        background-image: url("https://m.gardensbythebay.com.sg/content/dam/gbb/whats-on/gb-wallpapers/1920x1080/GBB-wallpaper-silver-garden-02-1920x1080.jpg");
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
.all
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;      
    }


.divClass
    {
        background-color: rgba(244, 165, 96, 0.63);
        width: 500px;  
        padding: auto;
        margin: 50px;
        border-style: dashed;
        border-color: rgb(2, 74, 102);
        border-width: 5px;   
    }    

    h1
        {
            color: rgb(24, 124, 24); 
        }
    
#spanId
    {
        font-size: 18px;
        margin: 50px;          
    }
        
#thirdDiv
    {
        background-color: rgba(244, 165, 96, 0.63);
        height: 600px;
        width: 500px;
        border-style: dashed;
        border-color: rgb(2, 74, 102);
        border-width: 5px;
        padding: 50px;
        }

img
    {
        width: 400px;
        height: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        border-style: double;
        display: block;
    }

img:hover
    {
        opacity: 0.8;
    }

h4
    {
        text-align: center;
    }

h2
    {
        text-align: center;
        border-style: double;
        font-size: 20px;
    }

a
    {
        color: navy;
        text-decoration: none;
    }

a:hover
    {
        color: rgb(140, 0, 255)
    }